@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center my-5">
    <h1 class="display-4 mb-4" style="color: #007BFF;">Contact Manager</h1>
    <p class="lead"><b>Project Built by:</b></p>

    <div class="row mt-4">
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <i class="fas fa-user-circle" style="font-size: 3em; color: #28A745;"></i>
                    <h5 class="card-title mt-3" style="font-size: 1.2em; color: #FF5733;">Snehal Poovathin Chalil</h5>
                    <p class="card-text"><small class="text-muted">200573235</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <i class="fas fa-user-circle" style="font-size: 3em; color: #28A745;"></i>
                    <h5 class="card-title mt-3" style="font-size: 1.2em; color: #FF5733;">Dinesh Kumar Subramani</h5>
                    <p class="card-text"><small class="text-muted">2005576550</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <i class="fas fa-user-circle" style="font-size: 3em; color: #28A745;"></i>
                    <h5 class="card-title mt-3" style="font-size: 1.2em; color: #FF5733;">Gokul Raj Krishnagiri Nagarajan</h5>
                    <p class="card-text"><small class="text-muted">200503634</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
